beautifulsoup4==4.7.1
branca==0.3.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cycler==0.10.0
Flask==1.1.1
folium==0.9.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
numpy==1.16.4
Pillow==6.1.0
pyparsing==2.4.0
python-dateutil==2.8.0
requests==2.22.0
scipy==1.3.0
six==1.12.0
soupsieve==1.9.2
SQLAlchemy==1.3.5
urllib3==1.25.3
Werkzeug==0.15.4
