<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Heatmaps</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/ajax.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
    <!-- scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static/js/ajax.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/materialautoload.js"></script>
    <script src="../static/js/direction.js"></script>
  </head>

  <body>
    <div class="row">
      <div class="col s2"></div>
      <div class="col s8">
        <div class="section scrollspy home" id="home">
          <h1 class="title center-align">flexibus</h1>
          <h5 class="center-align">Fast. Convenient. Effective.</h5>
          <img class="center-align" src="../static/images/undraw_Bus_stop_8ib0.svg" alt="busstop" width="100%">
        </div>
        <div class="containersize section scrollspy" id="problem">
          <div>
            <div>
              <h2 class="subject">THE PROBLEM</h2>
            </div>
          </div>
          <div class="container">
            <i class="material-icons large quote">format_quote</i>
            <h4 class="statement">
              How can we provide access to safe, affordable, accessible and
              sustainable transport systems for all, improving road safety,
              notably by expanding public transport, with special attention
              to the needs of those in vulnerable situations?
            </h4>
          </div>
        </div>
        <div class="containersize section scrollspy" id="solution">
          <div>
            <div class="section scrollspy">
              <h2 class="subject">OUR SOLUTION</h2>
            </div>
          </div>
          <div class="container">
            <ul class="bullets" id="solution">
              <li>test</li>
            </ul>
          </div>
        </div>
        <div class="containersize section scrollspy" id="technologies">
          <h2 class="subject">TECHNOLOGIES</h2>
          <img class="center-align" src="../static/images/technologies.png" alt="busstop" width="100%">
        </div>
        </div>
        <div class="col s2">
          <div class="col hide-on-small-only m3 l2">
            <div class="toc-wrapper" id="pinned">
              <ul class="section table-of-contents">
                <li><a href="#home">Home</a></li>
                <li><a href="#problem">Problem</a></li>
                <li><a href="#solution">Solution</a></li>
                <li><a href="#technologies">Technologies</a></li>
                <li><a href="#map">Map</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <div id="floating-panel">
      <button class="button waves-effect waves-grey lighten-2 white" onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button class="button waves-effect waves-grey lighten-2 white" onclick="toggleRoutes()">Toggle Routes</button>
      <button class="button waves-effect waves-grey lighten-2 white" onclick="changeOpacity()">Change opacity</button>
    </div>
    <div class="row side nobottommargin">
      <div class="col s2">
        <div class="row">
          <h4 class="title">flexibus</h4>
        </div>
        <div class="row">
          <ul class="collection scrollbar" id="collapsibleInsert">
            <li>
              <div class="collection-item">Dynamic Bus Route #1</div>
                <div class="collapsible-body">
                </div>
            </li>
            <li>
              <div class="collapsible-header">Dyanmic Bus Route #2</div>
                <div class="collapsible-body">
                </div>
            </li>
            <li>
              <div class="collapsible-header">Dynamic Bus Route #3</div>
                <div class="collapsible-body">
                </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col s10 section scrollspy" id="map"></div>
    </div>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA63GKyT88PRUP9Gp10HFuJwWeAWxBgu-c&libraries=visualization&callback=initMap">
    </script>
  </body>
</html>
