/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map, #map1 {
  height: 100vh;
}

.title {
  font-family: 'Merriweather Sans', sans-serif;
  padding-left: 20px;
}

.subject {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  background: linear-gradient(to right, #029a40, #029a40) no-repeat;
  background-size: 60% 9px;
  background-position: left bottom;
  text-transform: uppercase;
  font-size: 2.3em;
  font-family: oswald, sans-serif;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 15px;
}

.spacing {
  padding-top: 50px;
}

.bullets li {
  list-style-type: square !important;
  font-size: 3em;
}

.quote {
  transform: rotate(180deg);
  color: #f21b3f;
  padding-bottom: 50px;
}

.statement {
  font-size: 3em;
  padding-left: 16px;
}


.containersize {
  padding-top: 50px;
  height: 100vh;
}

.side {
  background-color: #F9F9F9;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  margin: 0;
  padding: 0;
}
#floating-panel {
  position: absolute;
  z-index: 5;
  text-align: center;
}
#floating-panel {
  left: 77%;
  position: absolute;
  top: 0.8%;
  z-index: 5;
}

.button {
  background-color : #fff;
  border : 2px solid #fff;
  border-radius : 3px;
  box-shadow : 0 2px 6px rgba(0,0,0,.3);
  cursor : pointer;
  margin-bottom : 22px;
  text-align : center;

  color : rgb(25,25,25);
  font-family : 'Roboto', sans-serif;
  font-size : 16px;
  line-height : 38px;
  padding-left : 5px;
  padding-right : 5px;
}

